body {
    margin: 0px;
}

#homeWrapper {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    grid-template-columns: 100px 1fr 150px;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    'hd hd nv'
    'mn mn nv'
    ;
}

#nv-link-1 {
    border-bottom:5px solid green;
    padding: calc(80px/2) 0px calc(80px/2)  0px;
}

.removeExtrasDim {
    margin: 0;
    padding: 0;
}

#header {
    grid-area: hd;
    background-color: #655D8A;
}

#title {
    font-size: 34px;
}


#nav {
    display: flex;
    grid-area: nv;
    background-color:black;
    flex-direction: column;
    justify-content: flex-start;
}

.paddingNav {
    padding: 2rem 0 2rem 0;
}

.nav-decoration {
    text-decoration: none;
    color: white;
    font-family: Inter;
}

#contentHome {
    display: grid;
    grid-area: mn;
    grid-template-areas:
    'in1'
    'in2'
    'ft'
    ;
    overflow-y: scroll;
    grid-auto-flow: row;
    grid-template-rows: 600px 1fr 100px;
    row-gap: 5rem;
}

#contentNews {
    display: grid;
    grid-area: mn;
    grid-template-areas:
    'in1'
    'in2'
    'ft'
    ;
    overflow-y: scroll;
    grid-auto-flow: row;
    grid-template-rows: 600px 1fr 100px;
    row-gap: 5rem;
}

#content::-webkit-scrollbar {
    display: none;
}

#info-1 {
    grid-area: in1;
    margin: 100px 5rem 0 5rem;
}

#info-2 {
    grid-area: in2;
    margin: 0px 5rem 0 5rem;

}

.parent {
    position: relative;
    background-color: burlywood;
}

.child {
    position: absolute;
    background-color: darkorange;
    height: 80%;
    width: 60%;
    top: 0px;
    left: 0px;
}

.child-2 {
    position: absolute;
    background-color: blue;
    left: 35%;
    top: 25%;
}

#footer {
    grid-area: ft;
    background-color: teal;
    margin: 0px;
}